.env
.env.*.local
*.zip
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.nupkg
*.snupkg
project.lock.json
artifacts/

**/backend/**/bin/
**/backend/**/obj/

.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
**/doc/api/
**/android/**/local.properties
**/android/**/.gradle/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

coverage/
*.symbols

scripts/node_modules/

